
.AppCommands {
    padding: 20px 20px 20px 20px;
    background: var(--tg-theme-bg-color);
    margin-bottom: 15px;
  }
  
  .AppCommandsList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  
  .AppCommandsListItem {
    cursor: pointer;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
  }
  
  .AppCommandsListItem p{
    color: #6AB2F2;
  }

  .CommandText {
    margin-top: 5px;
    margin-bottom: 0;
    font-family: Roboto;
  }

.AppCommandsLink {
  text-decoration: none;
}