.container {
    background-color: var(--tg-theme-bg-color);
    padding-bottom: 110px;
}

.image  { 
    border-radius: 15px;
    min-width: 320px;
    width: 100%; 
}
.imageContainer {
    padding: 10px;
}