.Bonus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 20px;
    background: var(--tg-theme-bg-color);
    position: relative;
    cursor: pointer;
}
.BonusWrapper::after {
    content: "";
    position: absolute;
    width: 104%;
    height: 1px;
    background-color: #202020;
    bottom: -10px;
    right: -20px;
}

.BonusWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
}

.BonusImg img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.BonusName {
    font-size: 18px;
    padding-left: 10px;
    font-family: Tahoma;
    color: var(--tg-theme-text-color)
}

.BonusBalace {
    font-size: 18px;
    font-weight: 500;
    font-family: Roboto;
    color: var(--tg-theme-text-color)
}